.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container02 {
  flex: 1;
  width: 1000px;
  height: 163px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url("public/playground_assets/frame%2023821-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container03 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container04 {
  flex: 1;
  width: 1000px;
  height: 243px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023822-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container05 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-frame23769 {
  width: 375px;
  height: auto;
  display: flex;
  padding: 20px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 250, 1);
}
.home-group24241 {
  width: 317px;
  height: 98px;
  position: relative;
  margin-bottom: 12px;
}
.home-group24251 {
  width: 146px;
  height: 22px;
  position: relative;
}
.home-container06 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container07 {
  flex: 1;
  width: 1000px;
  height: 375px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023750-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container08 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container09 {
  flex: 1;
  width: 1000px;
  height: 528px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023767-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container10 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container11 {
  flex: 1;
  width: 1000px;
  height: 1279.96px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023771-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container12 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container13 {
  flex: 1;
  width: 1000px;
  height: 1935.08px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023777-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container14 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container15 {
  flex: 1;
  width: 1000px;
  height: 896.26px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023772-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container16 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container17 {
  flex: 1;
  width: 1000px;
  height: 1530.5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023774-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container18 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container19 {
  flex: 1;
  width: 1000px;
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023816-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container20 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container21 {
  flex: 1;
  width: 1000px;
  height: 703.1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023817-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container22 {
  width: 375px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container23 {
  flex: 1;
  width: 1000px;
  height: 907px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/frame%2023818-1000w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
