.home-container{
    margin-top: 64px;
}

.img_adj{
    width: 100%;
    max-width: 500px;
}

.home-image2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    text-decoration: none;
  }