.home-container {
    margin-top: 102px;
    margin-bottom: 90px;
}

.img_adj {
    width: 100%;
    max-width: 500px;
}

.home-image2 {
    flex: 1 !important;
    width: 100% !important;
}

.home-frame16391 {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    max-width: 980px;
    box-shadow: 0px 4.949765205383301px 29.698593139648438px 0px rgba(0, 0, 0, 0.15000000596046448);
    overflow-x: scroll;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.home-frame16391 {
    width: 100vw;
    height: 720px;
    align-self: flex-start;
    box-shadow: 0px 4.949765205383301px 0px 0px rgba(0, 0, 0, 0);
    margin-left: -20px;
    margin-right: -20px;
    flex-direction: column;
}

.home-text225 {
    color: rgb(43, 63, 83);
    height: auto;
    font-size: 32px;
    align-self: auto;
    font-style: Bold;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 160%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.home-text225 {
    color: rgb(43, 63, 83);
    display: none;
    margin-bottom: 4px;
}

.home-image72 {
    width: 100%;
    height: auto;
    border-color: transparent;
    border-radius: 4px;
}

.home-image72 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 720px;
    align-self: flex-start;
    margin-left: 48px;
}

.form-container06 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px;
}