<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-frame23823">
    <div class="footer-frame23667">
      <img
        alt="image"
        src="public/playground_assets/cma-logooo.svg"
        class="footer-image"
      />
      <div class="footer-frame1621">
        <div class="footer-frame23819">
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/privacy"
            class="footer-text"
          >
            <span>プライバシーポリシー</span>
          </a>
          <img
            src="public/playground_assets/rectangle143242-rdze-200w.png"
            alt="Rectangle143242"
            class="footer-rectangle14"
          />
          <a href="https://ventures.cuebic.co.jp/" class="footer-text02">
            <span>運営会社</span>
          </a>
        </div>
        <div class="footer-frame23820">
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/terms"
            class="footer-text04"
          >
            <span>利用規約</span>
          </a>
          <img
            alt="Rectangle203242"
            src="public/playground_assets/rectangle203242-7iz-200w.png"
            class="footer-rectangle20"
          />
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/mailorder"
            class="footer-text06"
          >
            <span>特定商取引法に基づく表記</span>
          </a>
        </div>
      </div>
    </div>
    <span class="footer-text08"><span>© 2023 CUEBiC Inc.</span></span>
  </div>
</div>
